<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors>
            <remove statusCode="502" subStatusCode="-1" />
            <remove statusCode="501" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="412" subStatusCode="-1" />
            <remove statusCode="406" subStatusCode="-1" />
            <remove statusCode="405" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
            <error statusCode="401" path="/error/error.php?statuscode=401" responseMode="ExecuteURL" />
            <error statusCode="403" path="/error/error.php?statuscode=403" responseMode="ExecuteURL" />
            <error statusCode="405" path="/error/error.php?statuscode=405" responseMode="ExecuteURL" />
            <error statusCode="406" path="/error/error.php?statuscode=406" responseMode="ExecuteURL" />
            <error statusCode="412" path="/error/error.php?statuscode=412" responseMode="ExecuteURL" />
            <error statusCode="500" path="/error/error.php?statuscode=500" responseMode="ExecuteURL" />
            <error statusCode="501" path="/error/error.php?statuscode=501" responseMode="ExecuteURL" />
            <error statusCode="502" path="/error/error.php?statuscode=502" responseMode="ExecuteURL" />
            <error statusCode="503" path="/error/error.php?statuscode=503" responseMode="ExecuteURL" />
            <error statusCode="504" path="/error/error.php?statuscode=504" responseMode="ExecuteURL" />
            <error statusCode="505" path="/error/error.php?statuscode=505" responseMode="ExecuteURL" />
            <error statusCode="506" path="/error/error.php?statuscode=506" responseMode="ExecuteURL" />
            <error statusCode="507" path="/error/error.php?statuscode=507" responseMode="ExecuteURL" />
            <error statusCode="508" path="/error/error.php?statuscode=508" responseMode="ExecuteURL" />
            <error statusCode="509" path="/error/error.php?statuscode=509" responseMode="ExecuteURL" />
            <error statusCode="510" path="/error/error.php?statuscode=510" responseMode="ExecuteURL" />
            <error statusCode="511" path="/error/error.php?statuscode=511" responseMode="ExecuteURL" />
            <error statusCode="400" path="/error/error.php?statuscode=400" responseMode="ExecuteURL" />
            <error statusCode="404" path="/error/error.php?statuscode=404" responseMode="ExecuteURL" />
            <error statusCode="407" path="/error/error.php?statuscode=407" responseMode="ExecuteURL" />
            <error statusCode="408" path="/error/error.php?statuscode=408" responseMode="ExecuteURL" />
            <error statusCode="409" path="/error/error.php?statuscode=409" responseMode="ExecuteURL" />
            <error statusCode="410" path="/error/error.php?statuscode=410" responseMode="ExecuteURL" />
            <error statusCode="411" path="/error/error.php?statuscode=411" responseMode="ExecuteURL" />
            <error statusCode="413" path="/error/error.php?statuscode=413" responseMode="ExecuteURL" />
            <error statusCode="414" path="/error/error.php?statuscode=414" responseMode="ExecuteURL" />
            <error statusCode="415" path="/error/error.php?statuscode=415" responseMode="ExecuteURL" />
            <error statusCode="416" path="/error/error.php?statuscode=416" responseMode="ExecuteURL" />
            <error statusCode="417" path="/error/error.php?statuscode=417" responseMode="ExecuteURL" />
            <error statusCode="420" path="/error/error.php?statuscode=420" responseMode="ExecuteURL" />
            <error statusCode="421" path="/error/error.php?statuscode=421" responseMode="ExecuteURL" />
            <error statusCode="422" path="/error/error.php?statuscode=422" responseMode="ExecuteURL" />
            <error statusCode="423" path="/error/error.php?statuscode=423" responseMode="ExecuteURL" />
            <error statusCode="424" path="/error/error.php?statuscode=424" responseMode="ExecuteURL" />
            <error statusCode="426" path="/error/error.php?statuscode=426" responseMode="ExecuteURL" />
            <error statusCode="428" path="/error/error.php?statuscode=428" responseMode="ExecuteURL" />
            <error statusCode="429" path="/error/error.php?statuscode=429" responseMode="ExecuteURL" />
            <error statusCode="431" path="/error/error.php?statuscode=431" responseMode="ExecuteURL" />
            <error statusCode="451" path="/error/error.php?statuscode=451" responseMode="ExecuteURL" />
            <error statusCode="418" path="/error/error.php?statuscode=418" responseMode="ExecuteURL" />
            <error statusCode="425" path="/error/error.php?statuscode=425" responseMode="ExecuteURL" />
            <error statusCode="444" path="/error/error.php?statuscode=444" responseMode="ExecuteURL" />
            <error statusCode="449" path="/error/error.php?statuscode=449" responseMode="ExecuteURL" />
            <error statusCode="499" path="/error/error.php?statuscode=499" responseMode="ExecuteURL" />
        </httpErrors>
        <rewrite>
            <rules>
                <rule name="RedirectUserFriendlyURL1" stopProcessing="true">
                    <match url="^index\.php$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                        <add input="{QUERY_STRING}" pattern="^page=([^=&amp;]+)$" />
                    </conditions>
                    <action type="Redirect" url="{C:1}" appendQueryString="false" />
                </rule>
                <rule name="RewriteUserFriendlyURL1" stopProcessing="true">
                    <match url="^([^/]+)/?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?page={R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
